.container{
  display: flex;
  min-height: 100vh;
  position: relative;
}

.left{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
  flex: 1;
  position: relative;
}
