.signBtn{
  width: 85px;
  height: 30px;
  border-radius: 30px;
  background-color: #FF6D00;
  border: 2px solid #FF6D00;
  font-size: 13px;
  transition: 0.5s;
  font-weight: 600;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.active{
  background-color: aliceblue;
  border: 2px solid #FF6D00;
}